<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
</head>
<body>
    <p style="text-align: center; font-size: 2em;">Movie List</p>
    <table style="width:100%">
        <tr>
            <td><h2>Title</h2></td>
            <td><h2>Genre</h2></td>
            <td><h2>Average Rating</h2></td>
        </tr>
        {% for movie in movies  %}
            <tr>
                <td>{{ movie.title }}</td>
                <td>{{ movie.genre }}</td>
                <td>{{ movie.average_rating }}</td>
            </tr>
        {% endfor %}



    </table>
</body>
</html>